table.myTable  {
    width:100%;
    border: #dee2e6 1px solid;
}
table.myTable, th.myTable, td.myTable {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

.myTable tbody th{
    border-top: #d8d8d8 1px solid;
}

.myTable th, td {
    padding: 15px;
    text-align: left;
    font-weight: normal;
}

table.myTable tr:nth-child(even) {
    background-color: #eee;
}
table.myTable tr:nth-child(odd) {
   background-color: #fff;
}

table.myTable tr:nth-child(even):hover {
    background-color: #d8d8d8;
}
table.myTable tr:nth-child(odd):hover {
   background-color: #d8d8d8;
}

table.myTable thead th {
    background-color: #222529;
    color: white;
    text-transform: uppercase;
}

table.myTable thead th:hover {
    background-color: #43484e;
}

.pager {
    display: inline-block;
    margin-top: 1%;
}

.pager a {
    color: #222529;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pager a.active {
    background-color: #222529;
    color: white;
    border: 1px solid #222529;
}

.pager a:hover:not(.active) {background-color: #ddd;}

.pager a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pager a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selectRowNum{
    width: 4%;
    padding: 4px 4px 4px 1.1%;
    margin-bottom: 1%;
    background-color: #222529;
    color: white;
    border-radius: 4px; 
}

.arrow-down:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-left: 1%;
  }

  .arrow-up:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    margin-left: 4px;
  }